<h2>CHART SAMPLE</h2>

<div class="row">
	<div class="col-md-4" >
		<canvas id="line_chart_sample" width="300" height="250"></canvas>
	</div>
	<div class="col-md-4" >
		<canvas id="doughnut_chart_sample" width="300" height="250"></canvas>
	</div>
	<div class="col-md-4" >
		<canvas id="bar_chart_sample" width="300" height="250"></canvas>
	</div>
	<p></p>
		<canvas id="pie_chart_sample" width="300" height="250"></canvas>
	</div>
	<div class="col-md-4" >
		<canvas id="polar_chart_sample" width="300" height="250"></canvas>
	</div>
	<div class="col-md-4" >
		<canvas id="radar_chart_sample" width="300" height="250"></canvas>
	</div>
</div>