<div class="container">
	<div class="jumbotron">
	<h1>KAFKA_STORM_WEB_DISPLAY</h1>
		<p>
			<%=link_to 'GENERAL CHART',finance_log_analy_index_general_chart_path,method: :get %>
		</p>
		<p>
			<%=link_to 'SUBMIT_ACTION CHART',finance_log_analy_index_submit_action_chart_path,method: :get %>
		</p>
		<p>
			<%=link_to 'ACCOUNTING',accounting_index_path,method: :get %>
		</p>
	</div>
</div>